body {
    display: flex;
}

.agent-assistant {
    flex: 1;
}

.suggest-container {
    margin: 10px;
}

.agent-assistant .container {
    top: 48;
}

.agent-assistant b{
    color: #000000;
    font-weight: bold;
}

.agent-assistant a{
    color: #000000;
    font-weight: normal;
}

.agent-assistant a:hover{
    text-decoration: underline;
}
